<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.zn/thymeleaf/layout" layout:decorate="movie/layout/basic">
	<th:block layout:fragment="title">
		<title>Welcome to TopMovie</title>
	</th:block>
	<!-- 영화정보 입력 페이지 -->
	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/movie/register.do}" th:object="${movie}" method="post" onsubmit="return registerMovie(this)">
				<input type="hidden" th:if="*{idx != null and idx > 0}" th:field="*{idx}" />
				
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="director" class="col-sm-2 control-label">감독</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{director}" class="form-control" placeholder="이름을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<textarea th:field="*{description}" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label for="posterImg" class="col-sm-2 control-label">이미지</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{posterImg}" class="form-control" placeholder="이미지 경로를 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="viewCnt" class="col-sm-2 control-label">관람객수</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{viewCnt}" class="form-control" placeholder="누적 관람객수를 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="rating" class="col-sm-2 control-label">평점</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{rating}" class="form-control" placeholder="평점을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="premierDate" class="col-sm-2 control-label">개봉날짜</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{premierDate}" class="form-control" placeholder="개봉날짜를 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="premierYn" class="col-sm-2 control-label">개봉여부</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{premierYn}" class="form-control" placeholder="개봉여부(Y or N)를 입력해 주세요." />
					</div>
				</div>
				
				<div class="btn_wrap text-center" th:object="${params}">
					<a th:href="|@{/movie/list.do}*{makeQueryString(currentPageNo)}|" class="btn btn-default waves-effect waves-light">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
	</th:block>
	
	<th:block layout:Fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
				
				function registerMovie(form) {
					
					
					var result = (
						   isValid(form.title, "제목", null, null)
						&& isValid(form.director, "감독", null, null)
						&& isValid(form.description, "내용", null, null)
						&& isValid(form.posterImg, "이미지", null, null)
						&& isValid(form.premierDate, "개봉날짜", null, null)
						&& isValid(form.premierYn, "개봉여부", null, null)
					);
					if( result == false ) {
						return false;
					}
					
					var idx = /*[[ ${movie.idx} ]]*/ null;
					if (isEmpty(idx) == false) {
						var queryString = /*[[ ${params.makeQueryString(params.currentPageNo)} ]]*/ null;
				
						queryString = new URLSearchParams(queryString);
						queryString.forEach(function(value, key) {
							if (isEmpty(value) == false) {
								$(form).append('<input type="hidden" name="' + key + '" value="' + value + '" />');
							}
						});
					}
				}
			/*]]>*/
			
		</script>
	</th:block>
</html>